.itemPicker-item label {
    display: block;
    width: 100%;
}

.itemPicker-item input {
    display: none;
}

.itemPicker-item:hover {
    background-color: silver;
}

.itemPicker-item.selected {
    background-color: cornflowerblue;
}
