*.cache
*.csproj.user
*.orig
*.resharper
*.resharper.user
*.ReSharper.user
*.suo
.idea
.svn
_build.txt
_ReSharper.*
bin
obj
Build/*
Build/Bin*
*currentBuild.proj
currentBuild.proj
gum.bat
redirsGenerated.txt
*.DotSettings.user
*.crunchsolution.local.xml
*.crunchproject.local.xml
packages/*
*.ncrunchsolution.user
ItemPicker/test/*.png
TestResult.xml