*.cache
*.csproj.user
*.orig
*.resharper
*.resharper.user
*.ReSharper.user
*.suo
.idea
.svn
_build.txt
_ReSharper.*
bin
obj
Build/*
Build/Bin*
*currentBuild.proj
currentBuild.proj
gum.bat
redirsGenerated.txt
Gmc/CampaignManager/Data/Database/CreateScripts/Run-2.sql
Gmc/CampaignManager/Data/Database/TestResult.xml
Gmc/CampaignManager/Data/Database/TestResult.xml
Gmc/CampaignManager/IntegrationTests/App.config
Gmc/CampaignManager/PrintnetTDataRepository/*
Gmc/CampaignManager/PrintnetTVcs/*
Gmc/CampaignManager/Product.AssemblyInfo.cs
Gmc/CampaignManager/Setup/Version.nsh
Gmc/CampaignManager/WebSite/App_Data/Attachments/*
Gmc/CampaignManager/WebSite/App_Data/Log/*
Gmc/CampaignManager/WebSite/App_Data/Previews/*
Gmc/CampaignManager/WebSite/App_Data/Log/CampaignManager.log*
Gmc/CampaignManager/WebSite/App_Themes/Basic/floweditor/*
Gmc/CampaignManager/WebSite/build.version
Gmc/CampaignManager/WebSite/Log.facade.txt
Gmc/CampaignManager/WebSite/Scripts/jqDnR.js
Gmc/CampaignManager/WebSite/Scripts/jqDnR.min.js
Gmc/CampaignManager/WebSite/Scripts/PNetTFlowEditor.js
Gmc/CampaignManager/WebSite/Scripts/PNetTFlowEditor.min.js
Gmc/CampaignManager/WebSite/Scripts/PNetTPageEditor.js
Gmc/CampaignManager/WebSite/Scripts/PNetTPageEditor.min.js
Gmc/CampaignManager/WebSite/Scripts/ui.spinner.js
Gmc/CampaignManager/WebSite/Scripts/ui.spinner.js.min.js
Gmc/CampaignManager/WebSite/VcsCache/*
Gmc/CampaignManager/WebSite/vcsCache/*
Gmc/CampaignManager/WebSite/web.config
Gmc/ClickThrough/PrototypeGinger/Data/Database/CreateScripts/Run-2.sql
Gmc/ClickThrough/PrototypeGinger/Setup/Version.nsh
Gmc/ClickThrough/PrototypeGinger/WebSite/Web.config
Gmc/Dam/Integration/*
Gmc/Dam/Prototype/Product.AssemblyInfo.cs
Gmc/Dam/Prototype/WebSite/App_Data/cache*
Gmc/Dam/Prototype/WebSite/App_Data/Previews/*
Gmc/Dam/Prototype/WebSite/build.version
Gmc/Dam/Setup/Version.nsh
Gmc/Fido/*.zip
Gmc/Fido/Data/Database/CreateScripts/Run-2.sql
Gmc/Fido/Data/Database/CreateScripts/Run-InstalledAtoms.sql
Gmc/Fido/Product.AssemblyInfo.cs
Gmc/Fido/Samples/HybridMailSolution/Inspire Storefront/App_GlobalResources/*
Gmc/Fido/SettingsUpdateMarker.txt
Gmc/Fido/Setup/Language.ini
Gmc/Fido/Setup/Version.nsh
Gmc/Fido/Web.WebSite/App_Data/*
Gmc/Fido/Web.WebSite/App_GlobalResources/Email/*
Gmc/Fido/Web.WebSite/App_Themes/Fido/floweditor/*
Gmc/Fido/Web.WebSite/App_Themes/FidoMobile/floweditor/*
Gmc/Fido/Web.WebSite/Client/*
Gmc/Fido/Web.WebSite/Content/FxFml.swf
Gmc/Fido/Web.WebSite/Content/FxFmlResources/*
Gmc/Fido/Web.WebSite/log4net.config
Gmc/Fido/Web.WebSite/log4net.fido.test.config
Gmc/Fido/Web.WebSite/Scripts/jqDnR.js
Gmc/Fido/Web.WebSite/Scripts/jqDnR.min.js
Gmc/Fido/Web.WebSite/Scripts/PNetTFlowEditor.js
Gmc/Fido/Web.WebSite/Scripts/PNetTFlowEditor.min.js
Gmc/Fido/Web.WebSite/Scripts/PNetTPageEditor.js
Gmc/Fido/Web.WebSite/Scripts/PNetTPageEditor.min.js
Gmc/Fido/Web.WebSite/Scripts/ui.spinner.js
Gmc/Fido/Web.WebSite/Scripts/ui.spinner.js.min.js
Gmc/Fido/Web.WebSite/Web.config
Gmc/Fido/Web.WebSite/Web.EndToEndTesting.config
Gmc/Fido/WebServices.Client/Lib/Gmc.Fido.WebServices.Api.*
Gmc/Fido/Wpf.Client/FxFml.swf
Gmc/Fido/Wpf.Client/FxFmlResources/*
Gmc/Fido/Wpf.Client/log4net.config
Gmc/Ginger/Web.Mvc.TestWebsite/log4net.test.config
Gmc/GingerConfig/currentBuild.proj
Gmc/PageGenerator/Data/Database/CreateScripts/Run-2.sql
Gmc/PageGenerator/Setup/Version.nsh
Gmc/PageGenerator/WebSite/App_Data/*.log
Gmc/PageGenerator/WebSite/App_Data/Log/*
Gmc/PageGenerator/WebSite/Web.config
Gmc/WebProof/Data/Database/CreateScripts/Run-2.sql
Gmc/WebProof/Data/Database/CreateScripts/Run-InstalledAtoms.sql
Gmc/WebProof/Product.AssemblyInfo.cs
Gmc/WebProof/Setup/Version.nsh
Gmc/WebProof/Tools.WPInvoker/App.config
Gmc/WebProof/WebSite/App_Data/DocumentCache/*
Gmc/WebProof/WebSite/App_Data/Log/WebProof.log
Gmc/WebProof/WebSite/App_Data/UploadedJobFiles/*
Gmc/WebProof/WebSite/build.version
Gmc/WebProof/WebSite/Flex/*
Gmc/WebProof/WebSite/log4net.config
Gmc/WebProof/WebSite/Web.config

Gmc/Fido/_CreateClickOnce.txt
Gmc/Fido/SettingsCopyMarker.txt
Gmc/Fido/Setup/FileList.exe
Gmc/Fido/Setup/Nsl/*
/sys$command
Gmc/PageGenerator/Product.AssemblyInfo.cs
Gmc/CampaignManager/WebSite/App_Data/Previews_Cache
*.DotSettings.user
Gmc/Fido/Samples/SurveyDataServiceClient/sfwsc.*
*.crunchsolution.local.xml
*.crunchproject.local.xml
packages/*
*.ncrunchsolution.user