.itemPicker-item {
    white-space: nowrap;
    padding: 5px;
    position: relative;
}

.itemPicker-item span {
    padding-left: 5px;
}

.itemPicker-item:hover {
    cursor: pointer;
    background-color: #b5edff;
}

.itemPicker-item.selected {
    background-color: #80dfff;
}

.itemPicker-item:active {
    background-color: #80d8f5;
}

.itemPicker-image {
    vertical-align: middle;
}

.itemPicker-item-text {
    white-space: nowrap;
    overflow: hidden;
}